<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .container {
      padding: 20px 30px;
      border-radius: 8px;
      width: 350px;
    }

    h1 {
      text-align: center;
    }

    input, textarea{
      width: 100%;
      margin-top: 5px;
      margin-bottom: 15px;
      padding: 8px;
    }

    button {
      width: 100%;
      padding: 10px;
      cursor: pointer;
    }
  </style>

</head>
<body>
  <h1>Exercício de Formulários</h1>
  <form method="POST">
    {% csrf_token %}
    <label>Nome:</label><br>
    <input type="text" name="nome"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <label>Idade:</label><br>
    <input type="number" name="idade"><br><br>

    <label>Telefone:</label><br>
    <input type="text" name="telefone"><br><br>

    <label>Cidade:</label><br>
    <input type="text" name="cidade"><br><br>

    <label>Profissão:</label><br>
    <input type="text" name="profissao"><br><br>

    <label>Mensagem:</label><br>
    <textarea name="mensagem"></textarea><br><br>

    <button type="submit">Confere e envia pra nós!</button>
  </form>
</body>
</html>