{% extends 'base.html' %}

{% block nav_links %} 

<li><a href="{% url 'login' %}">Entrar</a></li> <!-- Link para a página de login -->

{% endblock %}

{% block content %} 
  <h1>Bem-vindo à Meta — Consultoria de RH</h1>
  <p>Somos uma consultoria especializada em recursos humanos , ajudando empresas a gerenciar talentos, recrutar e otimizar equipes.</p>
  <p>Nossos serviços incluem: recrutamento, treinamento, avaliação de desempenho e mais.</p>
  <p>Para acessar o sistema, clique em "Entrar" acima.</p>
{% endblock %}