{% extends 'base.html' %} 

{% block nav_links %}
 <!-- Sem links extras aqui -->
{% endblock %}

{% block content %} 

  <h1>Login no Sistema de RH</h1>
<form action="{% url 'login' %}" method="post"> <!-- auth views aqui -->
  {% csrf_token %}

  <label for="username">Usuário: </label>
  <input type="text" id="username" name="username" required>
  <label for="password">Senha: </label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Entrar</button>
  
</form>

<p>Não tem conta? <a href="{% url 'create_login' %}">Criar login</a></p> <!-- Link para criar login -->

{% endblock %}